## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[build]/
[out]/

## Razor comp
*.cshtml.dll

## VS / Rider
.vs/
.idea/

## Roslyn
*.iws

## Build outputs
*.trx
*.coverage
*.coveragereport/

## Test results
TestResults/
CoverageResults/

## Misc
*.log
